.root {
    font-family: Inter, Arial, sans-serif;
    background-color: #000;
}

.header {
    box-sizing: border-box;
    border-bottom: 1px solid #545454;
    margin: 28px 0 42px;
}


.header__logo {
    width: 104px;
    height: 24px;
    margin: 0 0 32px 27px;
    background-image: url(images/header__logo.svg);
    background-repeat: no-repeat;
    background-size: cover
}

.profile {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 19px 36px;
}



.profile__avatar {
    display: block;
    margin: 0 0 23px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile__info {
    margin: 0 0 36px 0;
}

.profile__name {
    margin: 0 10px 6px 28px;
    font-size: 27px;
    line-height: 1.22;
    font-weight: 500;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__name-wrapper {
    display: flex;
    align-items: baseline;
}

.profile__job {
    margin: 0;
    font-size: 14px;
    line-height: 1.214;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;


}

.profile__edit-button {
    width: 18px;
    height: 18px;
    background-color: transparent;
    background-image: url(images/profile__edit-button.svg);
    background-size: cover;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.profile__add-button {
    width: 100%;
    height: 50px;
    padding: 0;
    border: 1px solid #fff;
    background-color: transparent;
    background-image: url(images/profile__add-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.cards {
    padding: 0 19px 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    justify-items: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    width: 282px;
}

.card__image {
    display: block;
    margin: 0 0 25px 0;
    border-radius: 10px 10px 0 0;
    width: 282px;
    height: 282px;
}

.card__title {
    max-width: 200px;
    margin: 0;
    font-size: 24px;
    line-height: 1.208;
    font-weight: 900;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__like-button {
    width: 22px;
    height: 19px;
    background-color: transparent;
    background-image: url(images/card__like-button.svg);
    border: 0;

    padding: 0;
}

.card__title-wrapper {
    padding: 0 20px 25px 21px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer {
    padding: 0 19px 36px;
}

.footer-copyright {
    margin: 0;
    font-size: 14px;
    line-height: 1.214;
    color: #545454;
}

@media (min-width: 768px) {

    .page {
        max-width: 1280px;
        padding: 0 200px 0;
        margin: 0 auto;
    }

    .header {
        margin: 45px 0 37px;
    }

    .header__logo {
        margin: 0 0 41px 0;
        width: 142px;
        height: 33px;
    }

    .profile {
        flex-direction: row;
        align-items: center;
        padding: 0 0 53px;
    }

    .profile__info {
        flex-grow: 1;
        margin: 0;
    }

    .profile__avatar {
        margin: 0 30px 0 0;
    }

    .profile__name {
        margin: 0 18px 9px 0;
        font-size: 42px;
        line-height: 1.14;
    }

    .profile__job {
        text-align: left;
        font-size: 18px;
        line-height: 1.22;
    }

    .profile__edit-button {
        width: 22px;
        height: 22px;
    }

    .profile__add-button {
        width: 150px;
        height: 50px;
    }

    .cards {
        padding: 0 0 67px;
        row-gap: 20px;
        column-gap: 17px;
    }

    .footer {
        padding: 0 0 60px;
    }

    .footer-copyright {
        font-size: 18px;
        line-height: 1.22;
        color: #545454;
    }

}
