.popup__form-field {
  display: block;
  position: relative;
  margin-bottom: 30px;
}

.popup__form-field:last-of-type {
  margin-bottom: 45px;
}

@media (min-width: 768px) {
  .popup__form-field:last-of-type {
    margin-bottom: 48px;
  }
}
